# BLU01 - Exercises Notebook

**Important Note**

When reading files, please use `os.path.join()`. Specially if you are a Windows user!
The grader is running on Linux, reading a file my be running locally for you, but then don't run in the grader because of all the weird backslashes!

In [2]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to keep in 2 variables the first third and the last third of the lines existent in a file

In [3]:
# Use the file data/exercises/elon_musk.txt
# Start by counting the total lines and add the total to the variable count_total.  
! wc -l < data/exercises/elon_musk.txt 
count_total=18

18

In [4]:
expected_hash = '4ec9599fc203d176a301536c2e091a19bc852759b255bd6818810a42c5fed14a'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash

In [5]:
# NOT GRADED optional exercise!!
# Now add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total/3 for instance in the bash commands
# first_third = ...
# YOUR CODE HERE
raise NotImplementedError()

# last_third = ...
# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

Test the `first_third` and `last_third` exercise by running the following (ungraded) asserts.

```
assert first_third[-1][0] == 'H'
assert last_third[0][0] == 'N'
```

## Q2: Read a file with specific delimiter

Read file **data/exercises/euribor_interest_rates.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [6]:
import os
# Use a shell command to preview the data
! cat data/exercises/euribor_interest_rates.csv
# YOUR CODE HERE

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv(os.path.join('data', 'exercises', 'euribor_interest_rates.csv'), sep='|', index_col=-1, decimal=',')
# YOUR CODE HERE

Euribor 3 months|Euribor 6 months|Euribor 12 months|Years
3,34|3,52|3,88|1999
4,86|4,83|4,75|2000
3,29|3,26|3,34|2001
2,87|2,80|2,75|2002
2,12|2,17|2,31|2003
2,16|2,22|2,36|2004
2,49|2,64|2,84|2005
3,73|3,85|4,03|2006
4,68|4,71|4,75|2007
2,89|2,97|3,05|2008
0,70|0,99|1,25|2009
1,01|1,23|1,51|2010
1,36|1,62|1,95|2011
0,19|0,32|0,54|2012
0,29|0,39|0,56|2013
0,08|0,17|0,33|2014
-0,13|-0,04|0,06|2015
-0,32|-0,22|-0,08|2016
-0,33|-0,27|-0,19|2017

In [7]:
assert df2.loc[2001, 'Euribor 3 months'] == 3.29
assert set(df2.columns) == {'Euribor 3 months', 'Euribor 6 months', 'Euribor 12 months'}
assert len(df2) == 19
assert df2.index[0] == 1999

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/portugal_urban_waste_per_inhabitant.csv** using function `read_csv`. Pay attention to the following:
* you might find some trouble when reading the file, at first, then just ignore the problems ;)
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [8]:
# Read file data/exercises/portugal_urban_waste_per_inhabitant.csv with read_csv
! cat data/exercises/portugal_urban_waste_per_inhabitant.csv

df3 = pd.read_csv(os.path.join('data', 'exercises', 'portugal_urban_waste_per_inhabitant.csv'), index_col= 0, na_values=['no-data', 999999.0], error_bad_lines=False)
# YOUR CODE HERE

Years,Urban waste collection per inhabitant (kg/inhabitant),Selective urban waste collection per inhabitant (kg/inhabitant)
1989,no-data,no-data
1990,480,78.2,1990,,
1991,425.7,1.5
1992,999999,1.7
1993,357.6,2.3
1994,999999,999999
1995,352.0,4.0
1996,371.7,5.3
1997,397.0,6.6
1998,413.2,8.1
1999,433.3,10.6
2000,457.2,15.3
2001,454.4,18.3
2002,441.0,20.4
2003,448.7,21.7
2004,445.0,30.5
2005,451.8,40.5
2006,465.5,48.1
2007,471.1,54.6
2008,518.3,60.3
2009,520.1,66.5
2010,516.1,76.2
2011,490.4,71.4
2012,453.3,63.3
2013,439.7,56.3
2014,452.9,61.4
2015,460.4,70.8
2016,460.9,75.1
2017,480,78.2,,

b'Skipping line 3: expected 3 fields, saw 6\nSkipping line 30: expected 3 fields, saw 5\n'

In [9]:
assert np.isnan(df3.loc[1994, 'Urban waste collection per inhabitant (kg/inhabitant)'])
assert df3.loc[2011, 'Selective urban waste collection per inhabitant (kg/inhabitant)'] == 71.4

mean_selective_waste = df3['Selective urban waste collection per inhabitant (kg/inhabitant)'].mean()
assert math.isclose(35.632, mean_selective_waste, rel_tol=1e-3)

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/portugal_urban_waste_per_inhabitant.csv** using function `read_csv`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 3 meaningful columns, where the `Years` should be index
* replace garbage values with NaN's 
* format the columns with the right type

In [10]:
# Read file data/exercises/portugal_urban_waste_per_inhabitant.csv using  
file= open(os.path.join('data', 'exercises', 'portugal_urban_waste_per_inhabitant.csv'), 'r')
lines = list(csv.reader(file))
# YOUR CODE HERE
# create a dataframe using the line list with only 3 columns
csv_list = [i[:3] for i in lines]
file.close()
df4 = pd.DataFrame(csv_list[1:], columns=csv_list[0])
# YOUR CODE HERE

#replace invalid values with nan (np.nan)
df4= df4.replace(['no-data', '999999'], np.nan)

# YOUR CODE HERE

#set types per dataframe column
df4['Urban waste collection per inhabitant (kg/inhabitant)'] = df4['Urban waste collection per inhabitant (kg/inhabitant)'].astype(float)
df4['Selective urban waste collection per inhabitant (kg/inhabitant)'] = df4['Selective urban waste collection per inhabitant (kg/inhabitant)'].astype(float)
df4['Years']=df4['Years'].astype(int)
# YOUR CODE HERE
df4= df4.set_index('Years', drop=True)

#set a new index to the dataframe
# YOUR CODE HERE

In [11]:
assert np.isnan(df4.loc[1994, 'Urban waste collection per inhabitant (kg/inhabitant)'])
assert df4.loc[2012, 'Selective urban waste collection per inhabitant (kg/inhabitant)'] == 63.3

mean_selective_waste = df4['Selective urban waste collection per inhabitant (kg/inhabitant)'].mean()
assert math.isclose(38.78518518518518, mean_selective_waste, rel_tol=1e-3)

expected_hash = 'b68ca0811f132f73edc68e9d3bebb288ef036c1fef8aabe6d2c63a2b6bfa859c'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [70]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
df5 = pd.read_json(os.path.join('data', 'exercises', 'portugal_production_of_electricity_gwh.json'), orient='index')
# YOUR CODE HERE

In [13]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewable sources','Windpower','Year'}

expected_hash = 'c8226c54f1a24ae847c02a3e7a7d6e9fb44c2f82eb6f1fddcee9092c434e67fb'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "Metadata"
* use column 'Serie' as index
* make sure you keep only the rows with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [14]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
df6 = pd.read_excel(os.path.join('data', 'exercises', 'portugal_gas_emissions_per_year.xlsx'), sheet_name="Metadata", skipfooter=6, skiprows=21, header=1, index_col='Serie')
df6
# YOUR CODE HERE

distinct_scales = 2
# YOUR CODE HERE

In [15]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 7503.

In [16]:
# Find the encoding of file data/exercises/mystery_cities.csv
encoding = 'IBM866'
chardet.detect(open(os.path.join('data', 'exercises', 'cities.csv'), 'rb').read())
# YOUR CODE HERE
# Read the file into a DataFrame
df7 = pd.read_csv(os.path.join('data', 'exercises', 'cities.csv'), encoding='IBM866')
# YOUR CODE HERE

# Find the name of the city with distance = 7503
city_found = df7.loc[3]['City']
# YOUR CODE HERE

In [17]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1

expected_hash_2 = '8086d7adc029756c1b9094df64f6e79017dcc5a99c3c5e55b47beede11179a2b'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 7 rows. Count the actual lines with `wc`

In [18]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file. Notice that the header is not a line..
# don't forget to close the opened file
# YOUR CODE HERE
! wc -l < data/exercises/world_percentage_of_literacy.tsv
lines_in_file= 194

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 
# - 7 rows should be fecthed)
# - you want to keep the header plus 7 rows in the new dataframe...
rows_to_skip = 187
# YOUR CODE HERE

# Create a df8 file with the sampled values
n_rows_to_skip = lines_in_file - 7
random.seed(42)
rows_to_skip = random.sample(
    range(1, lines_in_file-1), 
    n_rows_to_skip 
)
df8 = pd.read_csv(os.path.join('data', 'exercises', 'world_percentage_of_literacy.tsv'), sep='\t', skiprows=rows_to_skip)

195

In [19]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

assert lines_in_file==194
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==7

expected_hash = '7902699be42c8a8e46fbbb4501726517e86b22c56a189f7625a6da49081b2451'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Literacy rate (all)`.
Note that:
* file should be read by chunks of 10 countries
* the missing values should be removed (filtered in each chunk)
* the `Literacy rate (all)` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

In the end calculate the average `Literacy rate (all)`

In [51]:
pd.read_csv(os.path.join('data', 'exercises', 'world_percentage_of_literacy.tsv'), sep='\t')

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,World,86.3%,90.0%,82.7%,7.3%
1,Afghanistan,38.2%,52.0%,24.2%,27.8%
2,Albania,97.6%,98.4%,96.8%,1.6%
3,Algeria,80.2%,87.2%,73.1%,14.0%
4,Andorra,not reported by UNESCO 2015,NaN,NaN,NaN
5,Angola,71.1%,82.0%,60.7%,21.3%
6,Antigua and Barbuda,not reported by UNESCO 2015,99.0%(2013)[3][note 1],NaN,NaN
7,Argentina,98.1%,98.0%,98.1%,-0.1%
8,Armenia,99.8%,99.8%,99.7%,0.1%
9,Australia,not reported by UNESCO 2015,NaN,NaN,NaN
10,Austria,not reported by UNESCO 2015,NaN,NaN,NaN
11,Azerbaijan,99.8%,99.9%,99.7%,0.2%
12,Bahamas,not reported by UNESCO 2015,NaN,NaN,NaN
13,Bahrain,95.7%,96.9%,93.5%,3.5%
14,Bangladesh,72.8%[note 2],75.6%,69.9%,5.7%
15,Barbados,not reported by UNESCO 2015,NaN,NaN,NaN
16,Belarus,99.7%,99.8%,99.7%,0.1%
17,Belgium,not reported by UNESCO 2015,NaN,NaN,NaN
18,Belize,82.7%,82.3%,83.0%,-0.7%
19,Benin,38.4%,49.9%,27.3%,22.6%
20,Bhutan,64.9%,73.1%,55.0%,18.1%
21,Bolivia,95.7%,97.8%,93.6%,4.2%
22,Bosnia and Herzegovina,98.5%,99.5%,97.5%,2.1%
23,Botswana,88.5%,88.0%,88.9%,-0.9%
24,Brazil,91.7%,91.4%,92.1%,-0.7%
25,Brunei,96.4%,97.7%,95.1%,2.6%
26,Bulgaria,98.4%,98.7%,98.1%,0.7%
27,Burkina Faso,36%,43.0%,29.3%,13.7%
28,Burundi,85.6%,88.2%,83.1%,5.1%
29,Cabo Verde,87.6%,92.1%,83.1%,9.0%
...,...,...,...,...,...
164,Sudan,53.5%,59.80%,46.7%,13.1%
165,Suriname,95.6%,96.1%,95.0%,1.1%
166,Swaziland,87.5%,87.4%,87.5%,-0.1%
167,Sweden,not reported by UNESCO 2015,NaN,NaN,NaN
168,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
169,Syria,86.4%,91.7%,81.0%,10.7%
170,Tajikistan,99.8%,99.8%,99.7%,0.1%
171,"Tanzania, United Republic of",80.3%,84.8%,75.9%,9.0%
172,Thailand,96.7%,96.6%,96.7%,-0.1%
173,Timor-Leste,67.5%,71.5%,63.4%,8.1%
174,Togo,66.5%,78.3%,55.3%,23.0%
175,Tonga,99.4%,99.3%,99.4%,-0.1%
176,Trinidad and Tobago,99%,99.2%,98.7%,0.5%
177,Tunisia,81.8%,89.6%,74.2%,15.4%
178,Turkey,95%,98.4%,91.8%,6.6%
179,Turkmenistan,99.7%,99.8%,99.6%,0.1%
180,Tuvalu,not reported by UNESCO 2015,NaN,NaN,NaN
181,Uganda,73.9%,80.8%,66.9%,14.0%
182,Ukraine,99.8%,99.8%,99.7%,0.1%
183,United Arab Emirates,93.8%,93.1%,95.8%,-2.6%
184,United Kingdom,not reported by UNESCO 2015,NaN,NaN,NaN
185,United States of America,not reported by UNESCO 2015,NaN,NaN,NaN
186,Uruguay,98.4%,98.1%,98.7%,-0.6%
187,Uzbekistan,99.6%,99.7%,99.5%,0.3%
188,Vanuatu,85.2%,86.6%,83.8%,2.8%
189,Venezuela,95.4%,95.0%,95.7%,-0.7%
190,Vietnam,94.5%,96.3%,92.8%,3.4%
191,Yemen,70.1%,85.1%,55.0%,30.1%
192,Zambia,63.4%,70.9%,56.0%,14.9%
193,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [109]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the chunks should be appended in a list called 

chunks_iter = pd.read_csv(os.path.join('data', 'exercises', 'world_percentage_of_literacy.tsv'),sep='\t', chunksize=10, usecols= ['Country', 'Literacy rate (all)'])
chunk_arr = []

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
def __repr__(self):
    return str(self.__dict__)

def floatifier(data):
    
    data = data[data.name != "not reported by UNESCO 2015"]
    a = data["Literacy rate (all)"].tolist()
    for x, y in zip(range(len(a)), a):
        if len(y) == 3:
            y = y[:2]
            a[x] = y
        elif len(y) == 5:
            y = y[:4]
            a[x] = y
        if "[note 2]" in y:
            y = y.replace("[note 2]", "")
            a[x] = y
    
    
    
    
    
    
    
            
    
        
            
    
        
    return data

for data_chunk in chunks_iter:
    data_chunk_filtered = floatifier(data_chunk)
    chunk_arr.append(data_chunk_filtered)
df9= pd.concat(chunk_arr, axis=0)
lit_avg=df9['Literacy rate (all)'].mean()

AttributeError: 'DataFrame' object has no attribute 'name'

In [ ]:
assert df9.loc[df9['Country']=='World', 'Literacy rate (all)'].values[0] == 86.3
assert df9.dtypes['Country'] == np.object
assert df9.dtypes['Literacy rate (all)'] == np.float

expected_hash = 'f26cd8ca964afd7aaaea0cacb142419676cf9928772f5b5310a036ffdae1586a'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash

expected_hash = '94f2bba3a658b5642ebbc9b952af45c3db1a185ae0357e4fe7ced784f0c3fe29'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash

## Q10: Calculate average values using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incompleted rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. Use a similar approach of the previous question but don't create any dataframe neither any list with chunks;

***Hint: Use the average definition***

In [ ]:
# Read file data/exercises/world_percentage_of_literacy.tsv
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1)
assert lit_b==151 or lit_a==151
assert int(lit_b) == 12569 or int(lit_a)==12569